* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,
html {
  background-image: url("cs-v3.gif");
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.img-instagram {
  width: 25px;
  color: orange;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.img-container {
  position: relative;
  /* border: 1px solid black; */
  height: 65vh;
  width: 37vh;
}

@media only screen and (min-width: 1343px) and (max-width: 1473px) {
	.img-container {
    position: relative;
    /* border: 1px solid black; */
    height: 58vh;
    width: 34vh;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1342px) {
	.img-container {
    position: relative;
    /* border: 1px solid black; */
    height: 56vh;
    width: 34vh;
  }
}
@media only screen and (min-width: 375px) and (max-width: 999px) {
	.img-container {
    position: relative;
    /* border: 1px solid black; */
    height: 56vh;
    width: 34vh;
  }
}

@media only screen and (max-width: 360px) {
	.img-container {
    position: relative;
    /* border: 1px solid black; */
    height: 56vh;
    width: 34vh;
  }
}

